# HOST=0.0.0.0
# PORT=1337
# APP_KEYS="toBeModified1,toBeModified2"
# API_TOKEN_SALT=tobemodified
# ADMIN_JWT_SECRET=tobemodified
# TRANSFER_TOKEN_SALT=tobemodified
# JWT_SECRET=tobemodified

HOST=0.0.0.0
PORT=3000
APP_KEYS=d6ne/yVs8LXiwtk+xILmsA==,TzBH0c7J+a+FKLvK3nC6Qg==,//0+s0OgkEDGgn7M4ECXkA==,s7Mx2Bv1+5WfKwUE7Yl0xg==
API_TOKEN_SALT=eOOyNjPnsmco0CGBwyTTJg==
ADMIN_JWT_SECRET=cLETgs0sIKHXEYWSoOP+ZQ==
TRANSFER_TOKEN_SALT=2s8F9IM8+y+wCB0S0iq47w==
# Database
DATABASE_CLIENT=sqlite
DATABASE_FILENAME=.tmp/data.db
JWT_SECRET=HCniQxXDhwSVZ0qqeuaTJQ==